<% content_for :title do %>Life Dashboard<% end %>

<div class="row">
  <div class="col-sm-3">
    <div data-id="meditation-last-week" data-view="Graph" data-title="Meditation - last week" style="background-color: #329edc"></div>
  </div>

  <div class="col-sm-6">
    <div data-id="meditation-last-month" data-view="Graph" data-title="Meditation - last month" style="background-color: #1787c8"></div>
  </div>

  <div class="col-sm-3">
    <div data-id="meditation-last-year" data-view="Graph" data-title="Meditation - last year" style="background-color: #0e79b7"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div data-id="map-my-run-intervals" data-view="Graph" data-title="Days between runs" style="background-color: #ff9900"></div>
  </div>

  <div class="col-sm">
    <div data-id="map-my-run-pace" data-view="Graph" data-title="Running pace" style="background-color: #f16f00"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div data-id="bitcoin-running-mean-200" data-view="Graph" data-title="BTC M-200" style="background-color: #fcc118"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <div data-id="money-top-expenses" data-view="Graph" data-title="Top Expenses" style="background-color: #007700"></div>
  </div>

  <div class="col-sm-4">
    <div data-id="money-top-expenses-table" data-view="Table" data-title="Top Expenses" style="background-color: #007700"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div data-id="tasks-day" data-view="EditText" style="background-color: #249411"></div>
  </div>

  <div class="col-sm">
    <div data-id="goals-week" data-view="EditText" style="background-color: #249411"></div>
  </div>

  <div class="col-sm">
    <div data-id="goals-month" data-view="EditText" style="background-color: #249411"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div data-id="goals-season" data-view="EditText" style="background-color: #249411"></div>
  </div>

  <div class="col-sm">
    <div data-id="goals-year" data-view="EditText" style="background-color: #249411"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div data-id="goals-long-term" data-view="EditText" style="background-color: #249411"></div>
  </div>

  <div class="col-sm">
    <div data-id="goals-mission" data-view="EditText" style="background-color: #249411"></div>
  </div>
</div>
