<% content_for :title do %>Life Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="meditation-last-week" data-view="Graph" data-title="Meditation - last week" style="background-color: #329edc"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="meditation-last-month" data-view="Graph" data-title="Meditation - last month" style="background-color: #1787c8"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="meditation-last-year" data-view="Graph" data-title="Meditation - last year" style="background-color: #0e79b7"></div>
    </li>
  </ul>
</div>
