<% content_for :title do %>Life Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="meditation-last-week" data-view="Graph" data-title="Meditation - last week"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="meditation-last-month" data-view="Graph" data-title="Meditation - last month"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="meditation-last-year" data-view="Graph" data-title="Meditation - last year" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>
